<template>
<div class="navbar">
  <div class="navbar-inner">
    <div class="title">Routable Tabs</div>
  </div>
</div>
<div class="toolbar tabbar toolbar-bottom-md">
  <div class="toolbar-inner">
    <!-- additional "data-route-tab-id" must match to tab's ID in the specified routes -->
    <a href="/"       class="tab-link" data-route-tab-id="tab-1">home</a>
    <a href="/tab-2/" class="tab-link" data-route-tab-id="tab-2">task</a>
    <a href="/tab-3/" class="tab-link" data-route-tab-id="tab-3">maps</a>
  </div>
</div>
<!-- Additional "tabs-routable" is required on tabs -->
<div class="tabs tabs-routable">
  <div class="tab page-content" id="tab-1"></div>
  <div class="tab page-content" id="tab-2"></div>
  <div class="tab page-content" id="tab-3"></div>
</div>
</template>
